/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v29-cyrillic_latin-regular.woff2') format('woff2'); 
  }

body {
    background-color: #ffe4c4;
    margin: 0; 
    padding: 0;
}

    * {
        box-sizing: border-box; /* Учитывание границ и внутренние отступы */
    }

    header {
        padding: 1rem;
        text-align: center;
        background-image: url(../images/fon.jpg);
        height: 275px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px 0;

    }

    nav {
        background-color: #e9967a;
        border: 2px solid white;
        display: flex;
        align-items: center; /* Вертикальное выравнивание по центру */
        justify-content: center; 
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        padding: 0; 
        list-style: none; 
        margin: 0; 
        flex-grow: 1; /* Позволяем меню занимать доступное пространство */
    }

    .menu li {
        margin: 0 25px; 
    }

    .menu a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 10px 15px; /* Внутренние отступы для кнопок меню */
        border-radius: 5px; /* Закругленные углы */
        transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход цветов */
    }

    .menu a:hover {
        background-color: #ffe4c4; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легкая тень */
    }

    nav img {
        height: 75px;   
        width: auto;  
        margin-top: 10px; 
        margin-bottom: 10px; 
    }

    h1 {
        text-align: center;
        color: #59351F; 
        padding: 1px; 
    }
    
    p {
        text-align: left;
        color: black; 
        padding: 5px 10px;
        font-size: 20px;
        margin-top: 0; 
        
    }
    
    h2 {
        text-align: center;
        color: #59351F;
        padding: 1px 5px; 
    }	

    .content-wrapper {
        max-width: 100%; 
        margin: 0 auto; 
    }

    .content-block-1 {
        display: flex;
        align-items: center;
        min-height: 250px; 
        width: 100%; 
        background-color: #e9967a; 
        padding: 15px; 
        margin: 0; 
        margin-bottom: 20px; /* Отступ между блоками */
    }

  

    .content-block-1 p {
        margin: 0; 
        padding: 0 300px 0 200px;
        flex: 1;
    }


    .content-block-1 .photo {
        max-width: 220px; 
        height: auto;
        margin-right: 15px; 
        margin-left: -50px;
    }

    .content-block-2 {
        display: flex; 
        align-items: center; 
        min-height: 250px; 
        width: 100%; 
        background-color: #ffe4c4; 
        padding: 15px; 
        margin: 0; 
        margin-bottom: 20px; 
    }
    
    .invisible-table {
        width: 100%; 
        border-collapse: collapse; /* нет отступов между ячейками */
    }
    
    .invisible-table td {
        text-align: center; 
        vertical-align: top; /* Выравнивание содержимого по верхнему краю */
        padding: 10px; 
    }
    
    .small-photo {
        max-width: 80px; 
        height: auto; 
        display: block; /* Переключение отображение на блочный, чтобы избежать дополнительных отступов */
        margin: 0 auto; 
    }
    
    .photo-caption {
        text-align: center;
        font-weight: bold;
        margin-top: 5px; 
        font-size: 16px; 
        color: black; 
    }


    .invisible-table-2 {
        width: 100%; 
        border-collapse: collapse; /* Убираем отступы между ячейками */
    }
    
    .invisible-table-2 td {
        width: 50%; 
        vertical-align: top; 
        padding: 0 150px 0 200px; 
    }
    
    .invisible-table-2 ul {
        list-style-type: disc; /* маркеры вкл */
        padding-left: 5px;
        margin: 0;
    }
    
    .invisible-table-2 ul > li {
        margin-bottom: 10px; /* Отступ между элементами списка */
    }

    .invisible-table-2 li {
        font-size: 20px; 
    }

    .content-block-4 {
        display: flex; 
        align-items: center; /* Вертикальное выравнивание элементов */
        min-height: 250px; 
        width: 100%; 
        background-color: #ffe4c4; 
        padding: 15px; 
        margin: 0; 
        margin-bottom: 20px; 
        flex-direction: column; /* вертикальная компоновка */
    }
    
    .p-4-block {
        margin: 0; 
        padding: 0 300px 0 200px; 
    }
    
    .btn {
        background-color: #e9967a; 
        color: black; 
        border: none;
        border-radius: 5px; /* Закругление углов */
        padding: 10px 20px; 
        font-size: 16px; 
        cursor: pointer; /* Указатель при наведении */
        transition: background-color 0.3s, box-shadow 0.3s; /* Плавный переход */
        margin-top: 50px; 
    }
    
    .btn:hover {
        background-color: #59351F; /* Изменение цвета при наведении */
        color: white; 
        box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Тень кнопки при наведении */
    }

    footer {
        padding: 20px;
        background-color: #e9967a; 
    }
    
    .footer-content {
        display: flex;           
        align-items: center;    
        justify-content: space-between; /* Размещение элементов с равными отступами */
    }
    
    .social-icons {
        display: flex;           
    }
    
    .social-icon {
        display: inline-block;    
        margin: 5px;             
    }
    
    .social-icon img {
        width: 50px;            
        height: auto;            
    }
    
    .footer-content p {
        margin: 0;               
        font-size: 18px; 
    }
    .table-summary {
        width: 70%; /* Устанавливаем ширину таблицы на 70% */
        margin: 0 auto 20px; /* Центрируем таблицу и добавляем отступ снизу в 20 пикселей */
        border-collapse: collapse; /* Убираем пробелы между ячейками */
    }
    
    .table-summary th {
        background-color: #e9967a; /* Цвет фона заголовка */
        color: black; /* Цвет текста заголовка */
        font-size: 20px; 
        padding: 10px; /* Отступы внутри ячейки заголовка */
        text-align: center; /* Выравнивание текста по центру */
        border: 1px solid #59351F;
    }
    
    .summary-row-odd {
        background-color: #efccad; /* Цвет для нечетных строк */
        color: black; /* Цвет текста */
        font-size: 20px; 
    }
    
    .summary-row-even {
        background-color: #FDF4E3; /* Цвет для четных строк */
        color: black; /* Цвет текста */
        font-size: 20px; 
    }
    
    .table-summary td {
        padding: 10px; /* Отступы внутри ячейки */
        text-align: center; /* Выравнивание текста по центру */
        border: 1px solid #59351F;
    }
    
    .summary-list {
        margin: 0; /* Убираем отступы для маркированного списка */
        padding-left: 0; /* Убираем отступ слева у маркированного списка */
        list-style-position: inside; /* Задаем внутри позиции маркеров */
    }
 
    .table-summary td:nth-child(3) {
    text-align: left; /* Выравнивание по центру для третьего столбца Он выбирает элемент, который является третьим дочерним элементом своего родителя (в данном случае, третью ячейку в каждой строке таблицы).*/
}